{% comment %}
<div class="col-md-4 col-lg-3 col-xl-3 leftColumn{% if item_sidebar == "rightColumn" %} rightColumn{% endif %} aside{% if item_sidebar contains "hidden_closed" %} desctop-no-sidebar{% endif %}">
  <div class="tt-btn-col-close">
    <a href="#">{{ 'collections.sidebar.back' | t }}</a>
  </div>
  <div class="tt-collapse open tt-filter-detach-option">
    <div class="tt-collapse-content">
      <div class="filters-mobile">
        <div class="filters-row-select">

        </div>
      </div>
    </div>
  </div>

  {%- capture imagefromshema -%}{%- include 'get_swatch_textures' -%}{%- endcapture -%}
  
  <div class="hide-on-mobile">
  {%- if settings.show_collectionstab -%}{%- include "collection-sidebar-collections" -%}{%- endif -%}
  </div>
  
  {%- include "collection-sidebar-filter-shopping" -%}
  {% endcomment %}
  
  {%- comment -%}Filters{%- endcomment -%}
  
  {% comment %}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:1 -%}{%- endcapture -%}{{ value | strip }}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:2 -%}{%- endcapture -%}{{ value | strip }}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:3 -%}{%- endcapture -%}{{ value | strip }}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:4 -%}{%- endcapture -%}{{ value | strip }}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:5 -%}{%- endcapture -%}{{ value | strip }}

  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:6 -%}{%- endcapture -%}{{ value | strip }}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:7 -%}{%- endcapture -%}{{ value | strip }}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:8 -%}{%- endcapture -%}{{ value | strip }}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:9 -%}{%- endcapture -%}{{ value | strip }}
  {%- capture value -%}{%- include "collection-sidebar-filter-x" index:10 -%}{%- endcapture -%}{{ value | strip }}
  
  {%- if settings.show_collectionsbanner -%}{%- include "collection-sidebar-banner" -%}{%- endif -%}
  
</div>

<style>
  @media only screen and (max-width: 749px) {
    .hide-on-mobile {
      display: none;
    }
  }
</style>
{% endcomment %}

{% comment %}
<div class="col-md-3 col-lg-3 d-none d-md-block">

    <aside class="v-sidebar">

        <div class="v-collapse-panel">
            <div class="tt-collapse v-collapse open">
                <h3 class="tt-collapse-title">Statt Fleisch</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li class="active"><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Statt Fisch</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Statt Käse</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Statt Milch</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>

            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Frühstück</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Für Kids</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Fertiggerichte</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Backwaren</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Saucen & mehr</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Aufstriche</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Snacks & Riegel</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Süssigkeiten</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Getränke</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Fette, Öl & Essig</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Pasta & Teigwaren</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Gewürze</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Superfoods</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Tee</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-collapse v-collapse">
                <h3 class="tt-collapse-title">Süssungsmittel</h3>
                <div class="tt-collapse-content">
                    <ul class="list-unstyled">
                        <li><a href="#">Tofu</a></li>
                        <li><a href="#">Temphe</a></li>
                        <li><a href="#">Seitan</a></li>
                        <li><a href="#">Fleischersatz</a></li>
                        <li><a href="#">Aufschnitt</a></li>
                        <li><a href="#">Bratlinge</a></li>
                        <li><a href="#">Burger</a></li>
                        <li><a href="#">Steakes & Schnitzel</a></li>
                        <li><a href="#">Hackfleisch & Geschnetzeltes</a></li>
                        <li><a href="#">Wurst</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>

</div>

{% endcomment %}