{% assign vigan-icon = 'https://cdn.shopify.com/s/files/1/0542/1056/0181/files/vigan_c280595d-a4d7-4a93-bb2f-32280385e89c.png?v=1615561572' %}
{% assign lebensmittel-icon = 'https://cdn.shopify.com/s/files/1/0542/1056/0181/files/lebensmittel_4e6bc620-ffeb-463d-8487-3c9edbfdb0a8.png?v=1615561581' %}
{% assign fitness-icon = 'https://cdn.shopify.com/s/files/1/0542/1056/0181/files/fitness.png?v=1615561590' %}
{% assign schoenheit-icon = 'https://cdn.shopify.com/s/files/1/0542/1056/0181/files/schoenheit.png?v=1615561599' %}
{% assign gesundheit-icon = 'https://cdn.shopify.com/s/files/1/0542/1056/0181/files/gesundheit_991c75b0-1f68-4d7a-a3a5-b18cdbcf7797.png?v=1615561604' %}
{% assign haushalt-icon = 'https://cdn.shopify.com/s/files/1/0542/1056/0181/files/haushalt.png?v=1615561609' %}
{% assign geschenke-icon = 'https://cdn.shopify.com/s/files/1/0542/1056/0181/files/geschenke.png?v=1615561616' %}

<nav class="panel-menu mobile-main-menu">
  <ul>
    {%- if item.show_categorie_button and settings.use_header_inline -%}<div class="CATEGORIE MOBILE"></div>{%- endif -%}
    {%- for link in linklists[mm].links -%}
    
    {% assign icon-src = blank %}

      {% if section.settings.special_icon != blank and forloop.first %}
        {% assign icon-src = section.settings.special_icon %}
      {% endif %}

    {% if link.title == 'vigan Produkte' %}
  	  {% assign icon-src = vigan-icon %}
    {% elsif link.title == 'Lebensmittel' %}
  	  {% assign icon-src = lebensmittel-icon %}
    {% elsif link.title == 'Fitness' %}
  	  {% assign icon-src = fitness-icon %}
    {% elsif link.title == 'Schönheit' %}
  	  {% assign icon-src = schoenheit-icon %}
    {% elsif link.title == 'Gesundheit' %}
      {% assign icon-src = gesundheit-icon %}
    {% elsif link.title == 'Haushalt' %}
      {% assign icon-src = haushalt-icon %}
    {% elsif link.title == 'Geschenke' %}
      {% assign icon-src = geschenke-icon %}
    {% endif %}
    
    <li>
      {% if forloop.first == false %}
        {% if link.title != 'Sales' and icon-src != blank %}
          <a href="{{ link.url }}"><span><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ icon-src }}" class="menu-icon lazy2">{{ link.title }}</span></a>
        {% elsif link.title == 'Sales' %}
          <a href="{{ link.url }}" class="sales-a"><span><span class="sales-span">%</span>{{ link.title }}</span></a>
        {% else %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% else %}
        {% if icon-src != blank %}
          <a href="{{ link.url }}"{% if section.settings.special_icon != blank %}class="special-item"{% endif %}><span><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ icon-src }}" class="menu-icon lazy2">{{ link.title }}</span></a>
        {% else %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endif %}

      {%- capture return -%}{%- include "get_linklist_dropdown", customlink: link -%}{%- endcapture -%}{%- assign return = return | split: "%%" -%}{%- assign has_drop_down = return | first | strip -%}{%- assign child_list_handle = return | last | strip -%}

      {%- assign level_2 = linklists[child_list_handle] -%}
      {%- if level_2.empty? -%}
      {%- assign child_list_handle = link.title | handle -%}
      {%- assign level_2 = linklists[child_list_handle] -%}
      {%- endif -%}

      {%- if level_2.links != blank -%}
      <ul>
        {%- for child_level_2 in level_2.links -%}
        <li>
          <a href="{{ child_level_2.url }}">{{ child_level_2.title }}</a>
          
          {%- capture return -%}{%- include "get_linklist_dropdown", link: child_level_2 -%}{%- endcapture -%}{%- assign return = return | split: "%%" -%}{%- assign has_drop_down = return | first | strip -%}{%- assign child_list_handle = return | last | strip -%}

          {%- assign level_3 = linklists[child_list_handle] -%}
          {%- if level_3.empty? -%}
          {%- assign child_list_handle = child_level_2.title | handle -%}
          {%- assign level_3 = linklists[child_list_handle] -%}
          {%- endif -%}

          {%- if level_3.links != blank -%}
          <ul>
            {%- for child_level_3 in level_3.links -%}
            <li><a href="{{ child_level_3.url }}">{{ child_level_3.title }}</a>
              
              {%- capture return -%}{%- include "get_linklist_dropdown", link: child_level_3 -%}{%- endcapture -%}{%- assign return = return | split: "%%" -%}{%- assign has_drop_down = return | first | strip -%}{%- assign child_list_handle = return | last | strip -%}

              {%- assign level_4 = linklists[child_list_handle] -%}
              {%- if level_4.empty? -%}
              {%- assign child_list_handle = child_level_3.title | handle -%}
              {%- assign level_4 = linklists[child_list_handle] -%}
              {%- endif -%}
              
              {%- if level_4.links != blank -%}
              <ul>
                {%- for child_level_4 in level_4.links -%}
                <li><a href="{{ child_level_4.url | downcase }}">{{ child_level_4.title }}</a>
                  
                  {%- capture return -%}{%- include "get_linklist_dropdown", link: child_level_4 -%}{%- endcapture -%}{%- assign return = return | split: "%%" -%}{%- assign has_drop_down = return | first | strip -%}{%- assign child_list_handle = return | last | strip -%}

                  {%- if has_drop_down == "true" -%}
                  {%- assign level_5 = linklists[child_list_handle] -%}
                  {%- unless level_5.empty? -%}
                  <ul>
                    {%- for child_level_5 in level_5.links -%}
                    <li><a href="{{ child_level_5.url | downcase }}">{{ child_level_5.title }}</a></li>
                    {%- endfor -%}
                  </ul>
                  {%- endunless -%}
                  {%- endif -%}
                </li>
                {%- endfor -%}
              </ul>
              {%- endif -%}
            </li>
            {%- endfor -%}
          </ul>
         {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}

    </li>
    {%- endfor -%}
  </ul>

</nav>